* {
	font-family: "Manrope", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.f-spinner {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(155, 255, 255, .4);
	z-index: 1;
}

.f-spinner > svg {
  animation: size 1.5s infinite linear;
  overflow: visible;
  transform: scale(1);
  width: 40px;
}
  
.f-spinner__fill {
	animation: drop-shadow-blink 1.5s infinite linear;
	fill: white;
	filter: drop-shadow(0 0 2px blue);
}

.f-spinner__fill--animated {
	animation: fill-blink 1.5s infinite linear;
	fill: blue;
}

.f-spinner__inner-shadow {
	fill: transparent;
	stroke: transparent;
	stroke-width: 2px;
	filter: drop-shadow(0 0 1px blue);
}

  @keyframes fill-blink {
	0%,
	100% {
	  opacity: 0;
	}
  
	75% {
	  opacity: 0.45;
	}
  }

  @keyframes drop-shadow-blink {
	0%,
	90%,
	100% {
	  filter: drop-shadow(0 0 6px rgb(104, 104, 255));
	}
  
	75% {
	  filter: drop-shadow(0 0 3px blue);
	}
  }