:root {
	--black: #1e1e1e;
	--white: #ffffff;
	--primary: #003EA6;
	--primary-5: rgba(0, 62, 166, 0.05);
	--primary-20: rgba(0, 62, 166, 0.2);
	--primary-40: rgba(0, 62, 166, 0.4);
	--primary-60: rgba(0, 62, 166, 0.6);
	--hero-info-bg: rgba(#003EA6, .3);
	--gray: #3A3A3A;
}